@using Runner.Business.Entities.Nodes

@switch (Type)
{
    case NodeType.App:
        <i class="fa-solid fa-rocket" style="color: #0091c4"></i>
        break;
    case NodeType.Folder:
        <i class="fa-solid fa-folder" style="color: #c4c400"></i>
        break;
    case NodeType.Data:
        <i class="fa-solid fa-table" style="color: #42c400"></i>
        break;
    case NodeType.AgentPool:
        <i class="fa-solid fa-hard-drive" style="color: #495b76"></i>
        break;
    case NodeType.Agent:
        <i class="fa-solid fa-desktop" style="color: #c4c400"></i>
        break;
    case NodeType.ScriptPackage:
        <i class="fa-solid fa-truck-fast" style="color: #74c0fc"></i>
        break;
    case NodeType.Script:
        <i class="fa-solid fa-tape" style="color: #e5dbff"></i>
        break;
    case NodeType.Flow: 
        <i class="fa-solid fa-wind" style="color: #00a7c4"></i>
        break;
    case NodeType.Run:
        <i class="fa-solid fa-person-running" style="color: #c4c400"></i>
        break;
    default:
        <span>Invalid NodeType: @Type</span>
        break;
}

@code {

    [Parameter]
    public required NodeType Type { get; set; }

}
