@page "/"
@inherits BasePage
@using Runner.WebUI.Security
@inject WebAuthenticationService authenticationService

<div class="container">

    <div class="box mt-4">
        <h3 class="title is-3">Home</h3>
    </div>

    <div class="buttons mt-3">
        <button type="button" class="button is-danger" @onclick="OnLogoff_Click">
            <span class="icon is-small">
                <i class="fa-solid fa-right-from-bracket"></i>
            </span>
            <span>Logoff</span>
        </button>
        <NavLink class="button is-success" href="/apps">
            <span class="icon is-small">
                <NodeTypeIcon Type="NodeType.App" />
            </span>
            <span>Apps</span>
        </NavLink>
    </div>

    <div class="box mt-3">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content" @onclick=click>
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">flow2</p>
                                <p class="subtitle is-6">Flow</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {


    protected override void OnInitialized()
    {
    }

    public async Task OnLogoff_Click()
    {
        await authenticationService.Logoff();
        NavigateTo("/");
    }

    private void click()
    {
        NavigateTo("/app/test/pasta/flow2");
    }
}
