@page "/"
@inherits BasePage
@implements IDisposable
@using Runner.Business.Entities.Identity
@using Runner.WebUI.Security
@inject WebAuthenticationService authenticationService
@inject NodeService nodeService

<div class="container">

    <div class="box mt-4">
        <h3 class="title is-3">Home</h3>
    </div>

    <div class="buttons mt-3">
        <button type="button" class="button is-danger" @onclick="OnLogoff_Click">
            <span class="icon is-small">
                <i class="fa-solid fa-right-from-bracket"></i>
            </span>
            <span>Logoff</span>
        </button>
        <NavLink class="button is-success" href="/apps">
            <span class="icon is-small">
                <NodeTypeIcon Type="NodeType.App" />
            </span>
            <span>Apps</span>
        </NavLink>
    </div>

    <div class="buttons mt-3">
        <NavLink class="button is-success" href="/agentversion">
            <span class="icon is-small">
                <i class="fa-solid fa-boxes-packing"></i>
            </span>
            <span>Agent Versions</span>
        </NavLink>
        <NavLink class="button is-primary" href="/jobs">
            <span class="icon is-small">
                <i class="fa-solid fa-user-doctor"></i>
            </span>
            <span>Jobs</span>
        </NavLink>
    </div>

    <div class="box mt-3">
        <div class="columns">
            @if (userHome is not null)
            @foreach (var favorite in userHome.Favorite)
            {
                <div class="column is-3">
                    <div class="card homecard"
                        draggable="true"
                        ondragover="event.preventDefault();"
                        @ondragstart=@((e) => Card_OnDragStart(e, favorite))
                        @ondrop=@(() => Card_OnDrop(favorite))
                        @onclick=@(() => Card_OnClick(favorite))
                        @onmouseup=@((e) => OnCard_OnMouseUp(e, favorite))>
                        <div class="card-content">
                            <span class="icon">
                                @if (favorite.NodeType is not null)
                                {
                                    <NodeTypeIcon Type=favorite.NodeType.Value />
                                }
                            </span>
                            <div class="media-content">
                                <p class="title is-4">@favorite.Title</p>
                                <p class="subtitle is-6">@favorite.Subtitle</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {

    private UserHome? userHome;
    private UserHomeFavorite? dragItem;

    protected override async Task OnInitializedAsync()
    {
        if (UserHomeService.IdentityProvider.IsLogged)
        {
            await IdentityProvider_OnSetUser();
        }
        else
        {
            UserHomeService.IdentityProvider.OnSetUser += IdentityProvider_OnSetUser;
        }
    }

    public void Dispose()
    {
        UserHomeService.IdentityProvider.OnSetUser -= IdentityProvider_OnSetUser;
    }

    private async Task IdentityProvider_OnSetUser()
    {
        try
        {
            userHome = await UserHomeService.ReadOrCreate();
            StateHasChanged();
        }
        catch (Exception err)
        {
            await Notification.AddError(err);
        }
    }

    public async Task OnLogoff_Click()
    {
        try
        {
            await authenticationService.Logoff();
            NavigateTo("/");
        }
        catch (Exception err)
        {
            await Notification.AddError(err);
        }

    }

    private async Task OnCard_OnMouseUp(MouseEventArgs ev, UserHomeFavorite favorite)
    {
        try
        {
            if (ev.Button == 1 && userHome is not null)
            {
                userHome.Favorite.Remove(favorite);

                await UserHomeService.UpdateFavorite(userHome.Favorite);
            }
        }
        catch (Exception err)
        {
            await Notification.AddError(err);
        }
    }

    private async Task Card_OnClick(UserHomeFavorite favorite)
    {
        try
        {
            if (!string.IsNullOrEmpty(favorite.DirectPath))
            {
                NavigateTo(favorite.DirectPath);
            }
            else if (favorite.NodeId.HasValue)
            {
                var nodePath = await nodeService
                    .BuildPath(favorite.NodeId.Value);
                if (!string.IsNullOrEmpty(nodePath))
                {
                    NavigateTo("app/" + nodePath);
                }
            }
        }
        catch (Exception err)
        {
            await Notification.AddError(err);
        }
    }

    private void Card_OnDragStart(DragEventArgs e, UserHomeFavorite favorite)
    {
        e.DataTransfer.EffectAllowed = "move";
        dragItem = favorite;
    }

    private async Task Card_OnDrop(UserHomeFavorite favorite)
    {
        if (dragItem is null || userHome is null)
        {
            return;
        }

        var fromIndex = userHome.Favorite.IndexOf(dragItem);
        if (fromIndex < 0)
        {
            return;
        }

        var toIndex = userHome.Favorite.IndexOf(favorite);
        if (toIndex < 0)
        {
            return;
        }

        if (fromIndex == toIndex)
        {
            return;
        }

        userHome.Favorite[fromIndex] = favorite;
        userHome.Favorite[toIndex] = dragItem;

        dragItem = null;

        try
        {
            await UserHomeService.UpdateFavorite(userHome.Favorite);
        }
        catch (Exception err)
        {
            await Notification.AddError(err);
        }
    }
}
