<h3>ActionParallel</h3>

@code {

    [Parameter]
    public required Runner.Business.Actions.Action Action { get; set; }

    [CascadingParameter(Name = "RunView")]
    public required RunView View { get; set; }

    // public void OnRunUpdated()
    // {
    // }

    private RenderFragment EditorForm()
    {
        return
        @<div class="is-flex is-flex-direction-column m-4">
            <h3 class="title is-3">Script</h3>
            <div class="buttons">
                
            </div>
            <div class="field">
                <label class="label">Label</label>
                <div class="control">
                    <input class="input" type="text" value=@($"{Action.ActionId} - {Action.Label}") placeholder="Label" readonly>
                </div>
            </div>
            @if (Action.Data is not null)
            @foreach (var data in Action.Data)
            {
                <div class="field">
                    <label class="label">@data.Name</label>
                    <div class="control">
                        <DataTypeSelector Type=@data.Type @bind-Value=@data.Value />
                    </div>
                </div>
            }
        </div>;
    }
}
