@using Runner.Business.Entities.Nodes.Types
@if (openValue && FormFragment != null)
{
    <div class="rightpanel">
        <div class="rightpanelclose" @onclick=Close>
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="rightpanelcontent">
            @FormFragment
        </div>
    </div>
}
else
{
    <div class="rightpanelopen" @onclick=Open>
        <i class="fa-solid fa-bars"></i>
    </div>
}

@code {

    [Parameter]
    public RenderFragment? FormFragment { get; set; }
    public FlowAction? Node { get; private set; }
    public Runner.Business.Actions.Action? Action { get; private set; }

    private bool openValue { get; set; }
    public bool IsOpened { get => openValue; }

    public void Open()
    {
        openValue = true;
        StateHasChanged();
    }

    public void Close()
    {
        openValue = false;
        StateHasChanged();
    }

    public void SetOpen(RenderFragment formFragment, Runner.Business.Actions.Action action)
    {
        openValue = true;
        Node = null;
        Action = action;
        FormFragment = formFragment;
        StateHasChanged();
    }

    public void SetOpen(RenderFragment formFragment, FlowAction node)
    {
        openValue = true;
        Node = node;
        Action = null;
        FormFragment = formFragment;
        StateHasChanged();
    }

    public void CleanPanel()
    {
        openValue = false;
        Node = null;
        Action = null;
        FormFragment = null;
        StateHasChanged();
    }
}
