@using Runner.Business.Datas.Model
@using Runner.Business.Datas.Validator
@inherits ModalBase
@inject NotificationService notification

<div class="modal is-active">
    <div class="modal-background" @onclick=Close></div>
    <div class="modal-card w70">
        <header class="modal-card-head">
            <p class="modal-card-title">Edit Data Type</p>
            <button class="delete" aria-label="close" @onclick=Close></button>
        </header>
        <section class="modal-card-body">
            @if (datas != null)
            {
                <DataTypeEditor Properties=datas />
            }
        </section>
        <footer class="modal-card-foot is-justify-content-flex-end">
            <button class="button is-success" @onclick=ResumeOk>Ok</button>
            <button class="button" @onclick=Close>Cancel</button>
        </footer>
    </div>
    <button class="modal-close is-large" aria-label="close" @onclick=Close></button>
</div>

@code {

    private List<DataTypeProperty>? datas;
    public required string inputValue;

    protected override void OnInitialized()
    {
        var list = Control.Request as List<DataTypeProperty>;
        if (list == null)
        {
            throw new Exception("List<DataTypeProperty> invalid!");
        }
        datas = list
            .Select(d => new DataTypeProperty
            {
                Name = d.Name,
                Type = d.Type,
                Default = d.Default,
                IsRequired = d.IsRequired
            })
            .ToList();
    }

    private void ResumeOk()
    {
        if (datas is not null)
        {
            Resume(datas);
        }
    }
}
