
.flowactionbase {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.flowactioncontainer {
    display: flex;
    flex-direction: column;
    background: #eee;
    gap: 6px;
    padding: 6px;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);

    > .flowlabel {
        display: flex;
        justify-content: center;

        > p {
            font-size: 1.1em;
            color: #000022;
            font-weight: bold;
        }

        > button {
            background-color: #ffffff8a;
        }
    }
}

.flowactioncontainers {
    display: flex;
    gap: 6px;
    align-items: flex-start
}

.flowaction {
    background: linear-gradient(to top, #6e8be3a1 0%, #aed0ea8c 50%);
    width: 218px;
    padding: 4px;
    border: 1px solid #aed0ea;
    display: flex;
    justify-content: space-between;

    > p {
        margin-left: 4px;
        margin-right: 4px;
        font-weight: bold;
        color: #2779aa;
    }

    > button {
        background-color: #ffffff8a;
    }
}





.rightpanelopen {
    top: 94px;
    position: absolute;
    right: 0;
    width: 34px;
    background-color: #289999;
    display: flex;
    justify-content: center;
    height: 53px;
    cursor: pointer;
    border-radius: 10px 0 0 6px;
    z-index: 800;

    > i {
        align-self: center;
    }
}


.rightpanel {
    display: flex;
    top: 53px;
    position: absolute;
    right: 0;
    height: calc(100% - 53px);

    > .rightpanelclose {
        top: 41px;
        position: relative;
        width: 34px;
        background-color: #289999;
        display: flex;
        justify-content: center;
        height: 53px;
        cursor: pointer;
        border-radius: 10px 0 0 10px;

        > i {
            align-self: center;
        }
    }

    > .rightpanelcontent {
        background-color: #a2c4f3;
        min-width: 400px;
        box-shadow: -5px 1em 1em -0.125em rgb(113 76 76 / 10%), -10px -2px 0 1px rgba(10, 10, 10, 0.02);
    }
}