@switch (Type)
{
    case Runner.Business.Entities.NodeType.App:
        <i class="fa-solid fa-rocket" style="color: #0091c4"></i>
        break;
    case Runner.Business.Entities.NodeType.Folder:
        <i class="fa-solid fa-folder" style="color: #c4c400"></i>
        break;
    case Runner.Business.Entities.NodeType.AgentPool:
        <i class="fa-solid fa-hard-drive" style="color: #495b76"></i>
        break;
    case Runner.Business.Entities.NodeType.Agent:
        <i class="fa-solid fa-desktop" style="color: #c4c400"></i>
        break;
    case Runner.Business.Entities.NodeType.Flow:
        <i class="fa-solid fa-wind" style="color: #00a7c4"></i>
        break;
    case Runner.Business.Entities.NodeType.Run:
        <i class="fa-solid fa-person-running" style="color: #c4c400"></i>
        break;
    case Runner.Business.Entities.NodeType.DataType:
        <i class="fa-solid fa-superscript" style="color: #0009b7"></i>
        break;
    case Runner.Business.Entities.NodeType.Data:
        <i class="fa-solid fa-person-running" style="color: #c4c400"></i>
        break;
    default:
        <span>Invalid NodeType: @Type</span>
        break;
}

@code {

    [Parameter]
    public required Runner.Business.Entities.NodeType Type { get; set; }

}
