@inherits ModalBase

@if (request != null)
{
    <div class="modal is-active">
        <div class="modal-background" @onclick=Close></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">@request.Title</p>
                <button class="delete" aria-label="close" @onclick=Close></button>
            </header>
            <section class="modal-card-body is-flex is-justify-content-center">
                <div class="file is-boxed">
                    <label class="file-label">
                        <InputFile class="file-input" OnChange="@LoadFiles" multiple />
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                @request.FileLabel
                            </span>
                        </span>
                    </label>
                </div>
            </section>
            <footer class="modal-card-foot is-justify-content-flex-end">
                <button class="button" @onclick=Close>Cancel</button>
            </footer>
        </div>
        <button class="modal-close is-large" aria-label="close" @onclick=Close></button>
    </div>
}

@code {

    private InputFileRequest? request;
    public required string inputValue;

    protected override void OnInitialized()
    {
        request = Control.Request as InputFileRequest;
        if (request == null)
        {
            throw new Exception("InputFileRequest invalid!");
        }
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        var files = new List<InputFile>();
        foreach (var file in e.GetMultipleFiles())
        {
            using (var memoryStream = new MemoryStream())
            {
                await file.OpenReadStream(long.MaxValue).CopyToAsync(memoryStream);
                files.Add(new InputFile
                {
                    Name = file.Name,
                    Content = memoryStream.ToArray()
                });
            }
        }
        Resume(new InputFileResponse
        {
            Files = files
        });
    }
    
}
