@inherits ModalBase

@if (request != null)
{
    <div class="modal is-active">
        <div class="modal-background" @onclick=Close></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">@request.Title</p>
                <button class="delete" aria-label="close" @onclick=Close></button>
            </header>
            <section class="modal-card-body">
                <input class="input" type="text" @bind-value=inputValue placeholder="@request.PlaceHolder" autofocus>
            </section>
            <footer class="modal-card-foot is-justify-content-flex-end">
                <button class="button is-success" @onclick="() => Resume(inputValue)">Ok</button>
                <button class="button" @onclick=Close>Cancel</button>
            </footer>
        </div>
        <button class="modal-close is-large" aria-label="close" @onclick=Close></button>
    </div>
}

@code {

    private InputTextRequest? request;
    public required string inputValue;

    protected override void OnInitialized()
    {
        request = Control.Request as InputTextRequest;
        if (request == null)
        {
            throw new Exception("InputTextRequest invalid!");
        }

        inputValue = request.Value;
    }
}
