<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
    <title>Runner</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/exts/bulma-switch.min.css" rel="stylesheet" />
    @* <link href="css/exts/bulma-calendar.min.css" rel="stylesheet"> *@
    <link href="css/fontawesome-6.4.2/all.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script src="js/global.js"></script>
    @* <script src="js/exts/bulma-calendar.min.js"></script> *@
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
