@using Runner.Business.Model.Schedule
@inherits BasePage
@inject JobScheduleService jobScheduleService

<div class="buttons mt-3">
    <button type="button" class="button is-primary" @onclick="View.BackToView">
        <span class="icon is-small">
            <i class="fa-solid fa-square-caret-left"></i>
        </span>
    </button>
    <button type="button" class="button is-success" @onclick="OnSave_Click">
        <span class="icon is-small">
            <i class="fa-solid fa-floppy-disk"></i>
        </span>
        <span>Save</span>
    </button>
</div>

<div class="box mt-3">
    <div class="columns">
        <div class="column is-half">
            @if (items != null)
            {
                <aside class="menu">
                    <p class="menu-label">
                        Schedule
                    </p>
                    <ul class="menu-list">
                        @foreach (var item in items.Where(i => i.State != FlowScheduleListState.Deleted))
                        {
                            <li @onclick=@(() => OnSelect_Click(item))>
                                <a>@item.Display()</a>
                            </li>
                        }
                    </ul>
                </aside>
                <div class="mt-3">
                    <button type="button" class="button is-success" @onclick="OnCreate_Click">
                        <span class="icon is-small">
                            <i class="fa-solid fa-calendar-plus"></i>
                        </span>
                        <span>Add</span>
                    </button>
                </div>
            }
        </div>
        <div class="column is-half">
            <Runner.WebUI.Pages.Nodes.Flow.Schedule.FlowScheduleEditSelector Schedule=this />
        </div>
    </div>
</div>

@code {

    [CascadingParameter(Name = "View")]
    public required FlowView View { get; set; }
    public FlowScheduleList? Selected { get; private set; }

    private List<FlowScheduleList>? items;

    protected override async Task OnInitializedAsync()
    {
        await OnRefresh_Click();
    }

    public async Task OnRefresh_Click()
    {
        try
        {
            if (View.FlowNode is null)
            {
                return;
            }

            items = await jobScheduleService.ReadFlowScheduleList(View.FlowNode.NodeId);
        }
        catch (Exception err)
        {
            await Notification.AddError(err);
        }
    }

    private void OnSelect_Click(FlowScheduleList item)
    {
        Selected = item;
    }

    private void OnCreate_Click()
    {
        if (View.FlowNode is null || items is null)
        {
            return;
        }

        var item = new FlowScheduleList
            {
                State = FlowScheduleListState.Added,
                FlowSchedule = new Business.Entities.Nodes.Types.FlowSchedule
                {
                    NodeId = MongoDB.Bson.ObjectId.Empty,
                    JobScheduleId = MongoDB.Bson.ObjectId.Empty
                },
                JobSchedule = new Business.Entities.Job.JobSchedule
                {
                    Active = true,
                    ScheduleType = Business.Entities.Job.JobScheduleType.Single,
                    JobType = Business.Entities.Job.JobType.CreateRun,
                    SingleDateTimeUtc = DateTime.UtcNow,
                    FlowId = View.FlowNode.FlowId
                }
            };

        items.Add(item);
        Selected = item;
    }

    public async Task OnSave_Click()
    {
        if (View.FlowNode is null || items is null)
        {
            return;
        }

        try
        {
            await jobScheduleService.SaveFlowScheduleList(View.FlowNode.NodeId, items);
        }
        catch (Exception ex)
        {
            await Notification.AddError(ex);
        }

        View.BackToView();
    }

    public void OnRemoveSelected_Click()
    {
        if (Selected is not null && items is not null)
        {
            if (Selected.State == FlowScheduleListState.Added)
            {
                items.Remove(Selected);
            }
            else
            {
                Selected.State = FlowScheduleListState.Deleted;
            }
        }
        Selected = null;
    }

    public void UpdateState()
    {
        StateHasChanged();
    }
}
