@using Business.Entities.Nodes.Types;
@inherits BasePage
@inject FlowService flowService

<div class="buttons mt-3">
    <button type="button" class="button is-primary" @onclick="NodeBack">
        <span class="icon is-small">
            <i class="fa-solid fa-square-caret-left"></i>
        </span>
    </button>
    <button type="button" class="button is-success" @onclick="OnSave_Click">
        <span class="icon is-small">
            <i class="fa-solid fa-floppy-disk"></i>
        </span>
        <span>Save</span>
    </button>
</div>

<div class="box mt-3">
    <DataTypeEditor Properties=FlowNode.Input />
</div>

@code {

    [Parameter]
    public required Flow FlowNode { get; set; }

    [Parameter]
    public RightPanel? Panel { get; set; }

    private async Task OnSave_Click()
    {
        await flowService.Update(FlowNode);
        NodeBack();
    }
}
