<div class="field">
    <input type="checkbox" class="switch is-success" checked=@Value>
    <label @onclick=OnClick>@Label</label>
</div>

@code {

    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public bool Value { get; set; }

    [Parameter]
    public EventCallback<bool> ValueChanged { get; set; }

    [Parameter]
    public EventCallback AfterValueChanged { get; set; }

    private async Task OnClick()
    {
        Value = Value ? false : true;
        await ValueChanged.InvokeAsync(Value);
        await AfterValueChanged.InvokeAsync();
    }

}
