@* @inherits BasePage
@using Runner.Business.Datas.Model

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Value</th>
            <th class="w50px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Properties)
        @if (!data.Hidden)
        {
            <tr>
                <td>
                    <p class="control has-icons-left">
                        <input class="input" @bind=data.Name type="text" placeholder="Name" readonly="@(!data.IsEditable)">
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-key"></i>
                        </span>
                    </p>
                </td>
                <td>
                    @if (data.IsEditable)
                    {
                        <div class="control has-icons-left is-expanded">
                            <div class="select is-fullwidth">
                                <EnumSelect Value=data.Type ValueChanged="@((DataTypeEnum e) => OnDataSelect_ValueChanged(data, e))" />
                            </div>
                            <div class="icon is-small is-left">
                                <i class="fa-solid fa-superscript"></i>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="control has-icons-left">
                            <input class="input" value=@data.Type type="text" readonly>
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-superscript"></i>
                            </span>
                        </div>
                    }
                </td>
                <td>
                    <DataTypeSelector Type=data.Type @bind-Value=data.Value />
                </td>
                <td class="has-text-centered">
                    @if (data.IsEditable)
                    {
                        <button class="button is-danger" @onclick=@(() => OnRemove_Click(data))>
                            <span class="icon is-small">
                                <i class="fas fa-times"></i>
                            </span>
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@if (CanCreate)
{
    <button type="button" class="button is-success" @onclick="OnCreate_Click">
        <span class="icon is-small">
            <i class="fa-solid fa-circle-plus"></i>
        </span>
        <span>Add</span>
    </button>
}

@code {

    [Parameter]
    public required List<DataFullProperty> Properties { get; set; }

    [Parameter]
    public bool CanCreate { get; set; } = true;

    private async Task OnCreate_Click()
    {
        try
        {
            Properties.Add(new DataFullProperty(new DataProperty
                {
                    Name = "NewProperty",
                    Type = DataTypeEnum.String,
                    Value = string.Empty
                }));
        }
        catch (Exception err)
        {
            await Notification.AddError(err);
        }
    }

    private async Task OnRemove_Click(DataFullProperty data)
    {
        try
        {
            if (Properties.Contains(data))
            {
                Properties.Remove(data);
            }
        }
        catch (Exception err)
        {
            await Notification.AddError(err);
        }
    }

    private void OnDataSelect_ValueChanged(DataFullProperty data, DataTypeEnum dataTypeEnum)
    {
        data.Type = dataTypeEnum;
        if (data.Type == DataTypeEnum.Reference)
        {
            data.Value = new Business.Datas.Model.ReferenceValues.DataReferenceValue
            {
                DataPath = ""
            };
        }
    }
}
 *@