
<div class="field">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label class="label">@Label</label>
    }
    <div class="control has-icons-left">
        <input class="input" @bind=innerValue type="text" readonly=@Readonly>
        <span class="icon is-left">
            <i class="fa-solid fa-suitcase"></i>
        </span>
    </div>
</div>

@code {

    [Parameter]
    public object? Value { get; set; }

    [Parameter]
    public EventCallback<object?> ValueChanged { get; set; }

    [Parameter]
    public bool Readonly { get; set; }

    [Parameter]
    public string? Label { get; set; }

    private string innerValue
    {
        get
        {
            return Value?.ToString() ?? string.Empty;
        }
        set
        {
            var actualValue = Value?.ToString() ?? string.Empty;
            if (!actualValue.Equals(value))
            {
                Value = value;
                ValueChanged.InvokeAsync(Value);
            }
        }
    }
}
